.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  white-space:nowrap;
  border-width:0
}

.visible{
  visibility:visible
}

.collapse{
  visibility:collapse
}

.\!static{
  position:static !important
}

.static{
  position:static
}

.fixed{
  position:fixed
}

.absolute{
  position:absolute
}

.relative{
  position:relative
}

.sticky{
  position:sticky
}

.inset-0{
  inset:0px
}

.top-8{
  top:2rem
}

.z-50{
  z-index:50
}

.col-span-6{
  grid-column:span 6 / span 6
}

.m-0{
  margin:0px
}

.mx-4{
  margin-left:1rem;
  margin-right:1rem
}

.mx-auto{
  margin-left:auto;
  margin-right:auto
}

.my-4{
  margin-top:1rem;
  margin-bottom:1rem
}

.mb-0{
  margin-bottom:0px
}

.mb-12{
  margin-bottom:3rem
}

.mb-2{
  margin-bottom:0.5rem
}

.mb-4{
  margin-bottom:1rem
}

.mb-6{
  margin-bottom:1.5rem
}

.mb-8{
  margin-bottom:2rem
}

.ml-3{
  margin-left:0.75rem
}

.mt-0{
  margin-top:0px
}

.mt-1{
  margin-top:0.25rem
}

.mt-10{
  margin-top:2.5rem
}

.mt-12{
  margin-top:3rem
}

.mt-16{
  margin-top:4rem
}

.mt-2{
  margin-top:0.5rem
}

.mt-20{
  margin-top:5rem
}

.mt-4{
  margin-top:1rem
}

.mt-6{
  margin-top:1.5rem
}

.mt-8{
  margin-top:2rem
}

.mt-auto{
  margin-top:auto
}

.block{
  display:block
}

.inline{
  display:inline
}

.flex{
  display:flex
}

.inline-flex{
  display:inline-flex
}

.table{
  display:table
}

.grid{
  display:grid
}

.contents{
  display:contents
}

.hidden{
  display:none
}

.h-10{
  height:2.5rem
}

.h-12{
  height:3rem
}

.h-4{
  height:1rem
}

.h-5{
  height:1.25rem
}

.h-6{
  height:1.5rem
}

.h-auto{
  height:auto
}

.h-full{
  height:100%
}

.max-h-20{
  max-height:5rem
}

.max-h-\[70vh\]{
  max-height:70vh
}

.w-10{
  width:2.5rem
}

.w-12{
  width:3rem
}

.w-4{
  width:1rem
}

.w-5{
  width:1.25rem
}

.w-6{
  width:1.5rem
}

.w-64{
  width:16rem
}

.w-\[375px\]{
  width:375px
}

.w-auto{
  width:auto
}

.w-full{
  width:100%
}

.min-w-full{
  min-width:100%
}

.max-w-2xl{
  max-width:42rem
}

.max-w-3xl{
  max-width:48rem
}

.max-w-40{
  max-width:10rem
}

.max-w-64{
  max-width:16rem
}

.max-w-7xl{
  max-width:80rem
}

.max-w-\[90\%\]{
  max-width:90%
}

.max-w-sm{
  max-width:24rem
}

.max-w-xl{
  max-width:36rem
}

.flex-1{
  flex:1 1 0%
}

.flex-shrink-0{
  flex-shrink:0
}

.flex-grow{
  flex-grow:1
}

.border-collapse{
  border-collapse:collapse
}

.translate-y-\[-20px\]{
  --tw-translate-y:-20px;
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform{
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes spin{
  to{
    transform:rotate(360deg)
  }
}

.animate-spin{
  animation:spin 1s linear infinite
}

.cursor-move{
  cursor:move
}

.cursor-pointer{
  cursor:pointer
}

.list-none{
  list-style-type:none
}

.columns-2{
  -moz-columns:2;
       columns:2
}

.grid-cols-1{
  grid-template-columns:repeat(1, minmax(0, 1fr))
}

.grid-cols-4{
  grid-template-columns:repeat(4, minmax(0, 1fr))
}

.flex-col{
  flex-direction:column
}

.flex-wrap{
  flex-wrap:wrap
}

.items-start{
  align-items:flex-start
}

.items-end{
  align-items:flex-end
}

.items-center{
  align-items:center
}

.justify-start{
  justify-content:flex-start
}

.justify-end{
  justify-content:flex-end
}

.justify-center{
  justify-content:center
}

.justify-between{
  justify-content:space-between
}

.gap-1{
  gap:0.25rem
}

.gap-12{
  gap:3rem
}

.gap-2{
  gap:0.5rem
}

.gap-3{
  gap:0.75rem
}

.gap-4{
  gap:1rem
}

.gap-6{
  gap:1.5rem
}

.gap-8{
  gap:2rem
}

.gap-\[\.1rem\]{
  gap:.1rem
}

.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse:0;
  margin-right:calc(0.5rem * var(--tw-space-x-reverse));
  margin-left:calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse:0;
  margin-top:calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom:calc(0.25rem * var(--tw-space-y-reverse))
}

.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse:0;
  margin-top:calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom:calc(1rem * var(--tw-space-y-reverse))
}

.divide-y > :not([hidden]) ~ :not([hidden]){
  --tw-divide-y-reverse:0;
  border-top-width:calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width:calc(1px * var(--tw-divide-y-reverse))
}

.divide-gray-200 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity:1;
  border-color:rgb(229 231 235 / var(--tw-divide-opacity, 1))
}

.overflow-hidden{
  overflow:hidden
}

.overflow-y-auto{
  overflow-y:auto
}

.truncate{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

.whitespace-nowrap{
  white-space:nowrap
}

.rounded{
  border-radius:0.25rem
}

.rounded-full{
  border-radius:9999px
}

.rounded-lg{
  border-radius:0.5rem
}

.rounded-md{
  border-radius:0.375rem
}

.rounded-xl{
  border-radius:0.75rem
}

.rounded-b-lg{
  border-bottom-right-radius:0.5rem;
  border-bottom-left-radius:0.5rem
}

.rounded-t-lg{
  border-top-left-radius:0.5rem;
  border-top-right-radius:0.5rem
}

.border{
  border-width:1px
}

.border-0{
  border-width:0px
}

.border-b{
  border-bottom-width:1px
}

.border-b-2{
  border-bottom-width:2px
}

.border-l-0{
  border-left-width:0px
}

.border-r-0{
  border-right-width:0px
}

.border-t{
  border-top-width:1px
}

.border-t-0{
  border-top-width:0px
}

.border-solid{
  border-style:solid
}

.border-\[\#ddd\]{
  --tw-border-opacity:1;
  border-color:rgb(221 221 221 / var(--tw-border-opacity, 1))
}

.border-border{
  border-color:var(--dc-border)
}

.border-dark-blue{
  border-color:var(--dc-dark-blue)
}

.border-dark-blue-20{
  border-color:var(--dc-dark-blue-20)
}

.border-gray-200{
  --tw-border-opacity:1;
  border-color:rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.border-gray-300{
  --tw-border-opacity:1;
  border-color:rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.border-red-500{
  --tw-border-opacity:1;
  border-color:rgb(239 68 68 / var(--tw-border-opacity, 1))
}

.border-transparent{
  border-color:transparent
}

.bg-\[\#FFA500\]{
  --tw-bg-opacity:1;
  background-color:rgb(255 165 0 / var(--tw-bg-opacity, 1))
}

.bg-black{
  --tw-bg-opacity:1;
  background-color:rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-dark-blue{
  background-color:var(--dc-dark-blue)
}

.bg-dark-blue-10{
  background-color:var(--dc-dark-blue-10)
}

.bg-gold{
  background-color:var(--dc-gold)
}

.bg-gray-100{
  --tw-bg-opacity:1;
  background-color:rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.bg-gray-500{
  --tw-bg-opacity:1;
  background-color:rgb(107 114 128 / var(--tw-bg-opacity, 1))
}

.bg-green-500{
  --tw-bg-opacity:1;
  background-color:rgb(34 197 94 / var(--tw-bg-opacity, 1))
}

.bg-green-600{
  --tw-bg-opacity:1;
  background-color:rgb(22 163 74 / var(--tw-bg-opacity, 1))
}

.bg-light-blue{
  background-color:var(--dc-light-blue)
}

.bg-light-blue-bg{
  background-color:var(--dc-light-blue-bg)
}

.bg-red-100{
  --tw-bg-opacity:1;
  background-color:rgb(254 226 226 / var(--tw-bg-opacity, 1))
}

.bg-red-500{
  --tw-bg-opacity:1;
  background-color:rgb(239 68 68 / var(--tw-bg-opacity, 1))
}

.bg-red-600{
  --tw-bg-opacity:1;
  background-color:rgb(220 38 38 / var(--tw-bg-opacity, 1))
}

.bg-white{
  --tw-bg-opacity:1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-yellow{
  background-color:var(--dc-yellow)
}

.bg-opacity-75{
  --tw-bg-opacity:0.75
}

.bg-opacity-90{
  --tw-bg-opacity:0.9
}

.fill-dark-blue{
  fill:var(--dc-dark-blue)
}

.object-cover{
  -o-object-fit:cover;
     object-fit:cover
}

.object-center{
  -o-object-position:center;
     object-position:center
}

.p-0{
  padding:0px
}

.p-2{
  padding:0.5rem
}

.p-2\.5{
  padding:0.625rem
}

.p-4{
  padding:1rem
}

.p-6{
  padding:1.5rem
}

.p-8{
  padding:2rem
}

.px-2{
  padding-left:0.5rem;
  padding-right:0.5rem
}

.px-3{
  padding-left:0.75rem;
  padding-right:0.75rem
}

.px-4{
  padding-left:1rem;
  padding-right:1rem
}

.px-6{
  padding-left:1.5rem;
  padding-right:1.5rem
}

.px-8{
  padding-left:2rem;
  padding-right:2rem
}

.py-1{
  padding-top:0.25rem;
  padding-bottom:0.25rem
}

.py-12{
  padding-top:3rem;
  padding-bottom:3rem
}

.py-16{
  padding-top:4rem;
  padding-bottom:4rem
}

.py-2{
  padding-top:0.5rem;
  padding-bottom:0.5rem
}

.py-3{
  padding-top:0.75rem;
  padding-bottom:0.75rem
}

.py-4{
  padding-top:1rem;
  padding-bottom:1rem
}

.py-5{
  padding-top:1.25rem;
  padding-bottom:1.25rem
}

.py-8{
  padding-top:2rem;
  padding-bottom:2rem
}

.pb-4{
  padding-bottom:1rem
}

.pb-6{
  padding-bottom:1.5rem
}

.pt-0{
  padding-top:0px
}

.pt-4{
  padding-top:1rem
}

.pt-6{
  padding-top:1.5rem
}

.pt-8{
  padding-top:2rem
}

.text-left{
  text-align:left
}

.text-center{
  text-align:center
}

.text-right{
  text-align:right
}

.text-2xl{
  font-size:1.5rem
}

.text-3xl{
  font-size:1.8rem
}

.text-4xl{
  font-size:2.4rem
}

.text-\[\.64rem\]{
  font-size:.64rem
}

.text-\[\.68rem\]{
  font-size:.68rem
}

.text-\[\.6rem\]{
  font-size:.6rem
}

.text-\[1\.2rem\]{
  font-size:1.2rem
}

.text-\[1\.625rem\]{
  font-size:1.625rem
}

.text-\[2rem\]{
  font-size:2rem
}

.text-base{
  font-size:1.1rem
}

.text-medium{
  font-size:1rem
}

.text-sm{
  font-size:0.8rem
}

.text-xl{
  font-size:1.4rem
}

.font-bold{
  font-weight:700
}

.font-extrabold{
  font-weight:800
}

.font-medium{
  font-weight:500
}

.font-normal{
  font-weight:400
}

.uppercase{
  text-transform:uppercase
}

.lowercase{
  text-transform:lowercase
}

.leading-6{
  line-height:1.5rem
}

.leading-none{
  line-height:1
}

.leading-normal{
  line-height:1.5
}

.leading-tight{
  line-height:1.25
}

.tracking-tight{
  letter-spacing:-0.025em
}

.text-\[\#8d752d\]{
  --tw-text-opacity:1;
  color:rgb(141 117 45 / var(--tw-text-opacity, 1))
}

.text-dark-blue{
  color:var(--dc-dark-blue)
}

.text-dark-blue-20{
  color:var(--dc-dark-blue-20)
}

.text-gray-400{
  --tw-text-opacity:1;
  color:rgb(156 163 175 / var(--tw-text-opacity, 1))
}

.text-gray-500{
  --tw-text-opacity:1;
  color:rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.text-gray-600{
  --tw-text-opacity:1;
  color:rgb(75 85 99 / var(--tw-text-opacity, 1))
}

.text-gray-700{
  --tw-text-opacity:1;
  color:rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.text-gray-800{
  --tw-text-opacity:1;
  color:rgb(31 41 55 / var(--tw-text-opacity, 1))
}

.text-gray-900{
  --tw-text-opacity:1;
  color:rgb(17 24 39 / var(--tw-text-opacity, 1))
}

.text-green-500{
  --tw-text-opacity:1;
  color:rgb(34 197 94 / var(--tw-text-opacity, 1))
}

.text-green-600{
  --tw-text-opacity:1;
  color:rgb(22 163 74 / var(--tw-text-opacity, 1))
}

.text-hover-blue{
  color:var(--dc-hover-blue)
}

.text-red-500{
  --tw-text-opacity:1;
  color:rgb(239 68 68 / var(--tw-text-opacity, 1))
}

.text-red-600{
  --tw-text-opacity:1;
  color:rgb(220 38 38 / var(--tw-text-opacity, 1))
}

.text-red-700{
  --tw-text-opacity:1;
  color:rgb(185 28 28 / var(--tw-text-opacity, 1))
}

.text-white{
  --tw-text-opacity:1;
  color:rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.underline{
  text-decoration-line:underline
}

.line-through{
  text-decoration-line:line-through
}

.no-underline{
  text-decoration-line:none
}

.antialiased{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.opacity-0{
  opacity:0
}

.shadow{
  --tw-shadow:0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-none{
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm{
  --tw-shadow:0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl{
  --tw-shadow:0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.blur{
  --tw-blur:blur(8px);
  filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.grayscale{
  --tw-grayscale:grayscale(100%);
  filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter{
  filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition{
  transition-property:color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property:color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property:color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}

.transition-all{
  transition-property:all;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}

.transition-colors{
  transition-property:color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}

.transition-opacity{
  transition-property:opacity;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}

.transition-shadow{
  transition-property:box-shadow;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}

.transition-transform{
  transition-property:transform;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}

.duration-300{
  transition-duration:300ms
}

.ease-in-out{
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
}

.choices{
  position:relative;
  overflow:hidden;
  margin-bottom:24px;
  font-size:16px
}

.choices:focus{
  outline:0
}

.choices:last-child{
  margin-bottom:0
}

.choices.is-open{
  overflow:visible
}

.choices.is-disabled .choices__inner,.choices.is-disabled .choices__input{
  background-color:#eaeaea;
  cursor:not-allowed;
  -webkit-user-select:none;
  -moz-user-select:none;
       user-select:none
}

.choices.is-disabled .choices__item{
  cursor:not-allowed
}

.choices [hidden]{
  display:none!important
}

.choices[data-type*=select-one]{
  cursor:pointer
}

.choices[data-type*=select-one] .choices__inner{
  padding-bottom:7.5px
}

.choices[data-type*=select-one] .choices__input{
  display:block;
  width:100%;
  padding:10px;
  border-bottom:1px solid #ddd;
  background-color:#fff;
  margin:0
}

.choices[data-type*=select-one] .choices__button{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  padding:0;
  background-size:8px;
  position:absolute;
  top:50%;
  right:0;
  margin-top:-10px;
  margin-right:25px;
  height:20px;
  width:20px;
  border-radius:10em;
  opacity:.25
}

.choices[data-type*=select-one] .choices__button:focus,.choices[data-type*=select-one] .choices__button:hover{
  opacity:1
}

.choices[data-type*=select-one] .choices__button:focus{
  box-shadow:0 0 0 2px #005f75
}

.choices[data-type*=select-one] .choices__item[data-placeholder] .choices__button{
  display:none
}

.choices[data-type*=select-one]::after{
  content:"";
  height:0;
  width:0;
  border-style:solid;
  border-color:#333 transparent transparent;
  border-width:5px;
  position:absolute;
  right:11.5px;
  top:50%;
  margin-top:-2.5px;
  pointer-events:none
}

.choices[data-type*=select-one].is-open::after{
  border-color:transparent transparent #333;
  margin-top:-7.5px
}

.choices[data-type*=select-one][dir=rtl]::after{
  left:11.5px;
  right:auto
}

.choices[data-type*=select-one][dir=rtl] .choices__button{
  right:auto;
  left:0;
  margin-left:25px;
  margin-right:0
}

.choices[data-type*=select-multiple] .choices__inner,.choices[data-type*=text] .choices__inner{
  cursor:text
}

.choices[data-type*=select-multiple] .choices__button,.choices[data-type*=text] .choices__button{
  position:relative;
  display:inline-block;
  margin:0-4px 0 8px;
  padding-left:16px;
  border-left:1px solid #003642;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-size:8px;
  width:8px;
  line-height:1;
  opacity:.75;
  border-radius:0
}

.choices[data-type*=select-multiple] .choices__button:focus,.choices[data-type*=select-multiple] .choices__button:hover,.choices[data-type*=text] .choices__button:focus,.choices[data-type*=text] .choices__button:hover{
  opacity:1
}

.choices__inner{
  display:inline-block;
  vertical-align:top;
  width:100%;
  background-color:#f9f9f9;
  padding:7.5px 7.5px 3.75px;
  border:1px solid #ddd;
  border-radius:2.5px;
  font-size:14px;
  min-height:44px;
  overflow:hidden
}

.is-focused .choices__inner,.is-open .choices__inner{
  border-color:#b7b7b7
}

.is-open .choices__inner{
  border-radius:2.5px 2.5px 0 0
}

.is-flipped.is-open .choices__inner{
  border-radius:0 0 2.5px 2.5px
}

.choices__list{
  margin:0;
  padding-left:0;
  list-style:none
}

.choices__list--single{
  display:inline-block;
  padding:4px 16px 4px 4px;
  width:100%
}

[dir=rtl] .choices__list--single{
  padding-right:4px;
  padding-left:16px
}

.choices__list--single .choices__item{
  width:100%
}

.choices__list--multiple{
  display:inline
}

.choices__list--multiple .choices__item{
  display:inline-block;
  vertical-align:middle;
  border-radius:20px;
  padding:4px 10px;
  font-size:12px;
  font-weight:500;
  margin-right:3.75px;
  margin-bottom:3.75px;
  background-color:#005f75;
  border:1px solid #004a5c;
  color:#fff;
  word-break:break-all;
  box-sizing:border-box
}

.choices__list--multiple .choices__item[data-deletable]{
  padding-right:5px
}

[dir=rtl] .choices__list--multiple .choices__item{
  margin-right:0;
  margin-left:3.75px
}

.choices__list--multiple .choices__item.is-highlighted{
  background-color:#004a5c;
  border:1px solid #003642
}

.is-disabled .choices__list--multiple .choices__item{
  background-color:#aaa;
  border:1px solid #919191
}

.choices__list--dropdown,.choices__list[aria-expanded]{
  display:none;
  z-index:1;
  position:absolute;
  width:100%;
  background-color:#fff;
  border:1px solid #ddd;
  top:100%;
  margin-top:-1px;
  border-bottom-left-radius:2.5px;
  border-bottom-right-radius:2.5px;
  overflow:hidden;
  word-break:break-all
}

.is-active.choices__list--dropdown,.is-active.choices__list[aria-expanded]{
  display:block
}

.is-open .choices__list--dropdown,.is-open .choices__list[aria-expanded]{
  border-color:#b7b7b7
}

.is-flipped .choices__list--dropdown,.is-flipped .choices__list[aria-expanded]{
  top:auto;
  bottom:100%;
  margin-top:0;
  margin-bottom:-1px;
  border-radius:.25rem .25rem 0 0
}

.choices__list--dropdown .choices__list,.choices__list[aria-expanded] .choices__list{
  position:relative;
  max-height:300px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  will-change:scroll-position
}

.choices__list--dropdown .choices__item,.choices__list[aria-expanded] .choices__item{
  position:relative;
  padding:10px;
  font-size:14px
}

[dir=rtl] .choices__list--dropdown .choices__item,[dir=rtl] .choices__list[aria-expanded] .choices__item{
  text-align:right
}

@media (min-width:640px){
  .choices__list--dropdown .choices__item--selectable[data-select-text],.choices__list[aria-expanded] .choices__item--selectable[data-select-text]{
    padding-right:100px
  }

  .choices__list--dropdown .choices__item--selectable[data-select-text]::after,.choices__list[aria-expanded] .choices__item--selectable[data-select-text]::after{
    content:attr(data-select-text);
    font-size:12px;
    opacity:0;
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%)
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable[data-select-text],[dir=rtl] .choices__list[aria-expanded] .choices__item--selectable[data-select-text]{
    text-align:right;
    padding-left:100px;
    padding-right:10px
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable[data-select-text]::after,[dir=rtl] .choices__list[aria-expanded] .choices__item--selectable[data-select-text]::after{
    right:auto;
    left:10px
  }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,.choices__list[aria-expanded] .choices__item--selectable.is-highlighted{
  background-color:#f2f2f2
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after,.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after{
  opacity:.5
}

.choices__item{
  cursor:default
}

.choices__item--selectable{
  cursor:pointer
}

.choices__item--disabled{
  cursor:not-allowed;
  -webkit-user-select:none;
  -moz-user-select:none;
       user-select:none;
  opacity:.5
}

.choices__heading{
  font-weight:600;
  font-size:12px;
  padding:10px;
  border-bottom:1px solid #f7f7f7;
  color:gray
}

.choices__button{
  text-indent:-9999px;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  border:0;
  background-color:transparent;
  background-repeat:no-repeat;
  background-position:center;
  cursor:pointer
}

.choices__button:focus,.choices__input:focus{
  outline:0
}

.choices__input{
  display:inline-block;
  vertical-align:baseline;
  background-color:#f9f9f9;
  font-size:14px;
  margin-bottom:5px;
  border:0;
  border-radius:0;
  max-width:100%;
  padding:4px 0 4px 2px
}

.choices__input::-webkit-search-cancel-button,.choices__input::-webkit-search-decoration,.choices__input::-webkit-search-results-button,.choices__input::-webkit-search-results-decoration{
  display:none
}

.choices__input::-ms-clear,.choices__input::-ms-reveal{
  display:none;
  width:0;
  height:0
}

[dir=rtl] .choices__input{
  padding-right:2px;
  padding-left:0
}

.choices__placeholder{
  opacity:.5
}

.digi__form .digi__register a,
    .digi__form .digi__login a{
    color:var(--dc-dark-blue)
  }

.digi__form .digi__register a,
    .digi__form .digi__login a{
    text-decoration-line:underline
  }

.digi__form .digi__register a:hover,
    .digi__form .digi__login a:hover{
    color:var(--dc-gold)
  }

.digi__form .digi__register a:hover,
    .digi__form .digi__login a:hover{
    text-decoration-line:none
  }

.digi__form .field input{
      min-height:64px
    }

.digi__form .field input{
      width:100%
    }

.digi__form .field input{
      border-radius:0.375rem
    }

.digi__form .field input{
      border-width:1px
    }

.digi__form .field input{
      border-style:solid
    }

.digi__form .field input{
      border-color:var(--dc-border)
    }

.digi__form .field input{
      padding-left:1rem;
      padding-right:1rem
    }

.digi__form .field input{
      padding-top:0.75rem;
      padding-bottom:0.75rem
    }

.digi__form .field input{
      font-size:1.1rem
    }

.digi__form .field input{
      color:var(--dc-dark-blue)
    }

.digi__form .field input:focus{
      border-color:var(--dc-gold)
    }

.digi__form .field input {
      box-shadow: none;
      outline: none;
    }

.digi__form .field input:focus,
            .digi__form .field input.focused{
        padding-left:1.25rem;
        padding-right:1.25rem
      }

.digi__form .field input:focus,
            .digi__form .field input.focused{
        padding-bottom:0.75rem
      }

.digi__form .field input:focus,
            .digi__form .field input.focused{
        padding-top:1.3rem
      }

.digi__form .field input:focus,
            .digi__form .field input.focused{
        transition-property:all;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration:150ms
      }

.digi__form .field input:focus,
            .digi__form .field input.focused{
        transition-duration:0.3s
      }

.digi__form .field input:focus,
            .digi__form .field input.focused{
        transition-timing-function:cubic-bezier(.64,0.09,0.08,1)
      }

.digi__form .field input:focus + label,
            .digi__form .field input.focused + label{
        top:1rem
      }

.digi__form .field input:focus + label,
            .digi__form .field input.focused + label{
        font-size:.7rem
      }

.digi__form .field input:focus + label,
            .digi__form .field input.focused + label{
        transition-property:all;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration:150ms
      }

.digi__form .field input:focus + label,
            .digi__form .field input.focused + label{
        transition-duration:0.3s
      }

.digi__form .field input:focus + label,
            .digi__form .field input.focused + label{
        transition-timing-function:cubic-bezier(.64,0.09,0.08,1)
      }

.digi__form .field label{
      pointer-events:none
    }

.digi__form .field label{
      position:absolute
    }

.digi__form .field label{
      left:1rem
    }

.digi__form .field label{
      top:50%
    }

.digi__form .field label{
      margin:0px
    }

.digi__form .field label{
      --tw-translate-y:-50%;
      transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

.digi__form .field label{
      font-size:1rem
    }

.digi__form .field label{
      font-weight:700
    }

.digi__form .field label{
      transition-property:all;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration:150ms
    }

.digi__form .field label{
      transition-duration:0.3s
    }

.digi__form .field label{
      transition-timing-function:cubic-bezier(.64,0.09,0.08,1)
    }

.digi__form button.digi__button{
      min-height:62px
    }

.digi__form button.digi__button{
      width:100%
    }

.digi__form button.digi__button{
      cursor:pointer
    }

.digi__form button.digi__button{
      justify-content:center
    }

.digi__form button.digi__button{
      gap:0.5rem
    }

.digi__form button.digi__button{
      font-size:1rem
    }

.digi__form button.digi__button{
      font-weight:700
    }

.digi__form button.pass__icon{
      position:absolute
    }

.digi__form button.pass__icon{
      right:0px
    }

.digi__form button.pass__icon{
      top:50%
    }

.digi__form button.pass__icon{
      display:flex
    }

.digi__form button.pass__icon{
      width:3rem
    }

.digi__form button.pass__icon{
      --tw-translate-y:-50%;
      transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

.digi__form button.pass__icon{
      align-items:center
    }

.digi__form button.pass__icon{
      justify-content:center
    }

.digi__form button.pass__icon{
      color:rgb(0 0 0 / 0.5)
    }

.digi__form button.pass__icon:hover{
      color:var(--dc-dark-blue)
    }

.digi__form button.pass__icon:focus{
      outline:2px solid transparent;
      outline-offset:2px
    }

.digi__form button.pass__icon {
      box-shadow: none;
      outline: none;
    }

.digi__form button.pass__icon:focus {
        box-shadow: none;
        outline: none;
      }

.digi__form .return__link svg{
      fill:var(--dc-dark-blue)
    }

.digi__form .return__link:hover svg{
      fill:var(--dc-gold)
    }

.digi__form .message{
    margin-bottom:1rem
  }

.digi__form .message{
    border-radius:0.75rem
  }

.digi__form .message{
    padding:1rem
  }

.digi__form .message{
    text-align:center
  }

.digi__form .message{
    font-size:.875rem
  }

.digi__form .message{
    --tw-text-opacity:1;
    color:rgb(255 255 255 / var(--tw-text-opacity, 1))
  }

.digi__form .message.success{
      --tw-bg-opacity:1;
      background-color:rgb(70 180 80 / var(--tw-bg-opacity, 1))
    }

.digi__form .message.error{
      --tw-bg-opacity:1;
      background-color:rgb(254 82 82 / var(--tw-bg-opacity, 1))
    }

.digicommerce input[type='checkbox']{
    position:relative
  }

.digicommerce input[type='checkbox']{
    top:0px
  }

.digicommerce input[type='checkbox']{
    margin:0px
  }

.digicommerce input[type='checkbox']{
    height:1.5rem
  }

.digicommerce input[type='checkbox']{
    width:1.5rem
  }

.digicommerce input[type='checkbox']{
    cursor:pointer
  }

.digicommerce input[type='checkbox']{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none
  }

.digicommerce input[type='checkbox']{
    border-radius:0.125rem
  }

.digicommerce input[type='checkbox']{
    border-width:1px
  }

.digicommerce input[type='checkbox']{
    border-style:solid
  }

.digicommerce input[type='checkbox']{
    border-color:var(--dc-border)
  }

.digicommerce input[type='checkbox']{
    --tw-bg-opacity:1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity, 1))
  }

.digicommerce input[type='checkbox']{
    transition-property:all;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration:150ms
  }

.digicommerce input[type='checkbox']{
    transition-duration:300ms
  }

.digicommerce input[type='checkbox'] {
    box-shadow: none;
  }

.digicommerce input[type='checkbox']:focus {
      box-shadow: none;
      outline: none;
    }

.digicommerce input[type='checkbox']:focus-visible {
      outline: none;
    }

.digicommerce input[type='checkbox']:checked,
        .digicommerce input[type='checkbox']:checked:hover,
        .digicommerce input[type='checkbox']:checked:focus{
      border-color:var(--dc-gold)
    }

.digicommerce input[type='checkbox']:checked,
        .digicommerce input[type='checkbox']:checked:hover,
        .digicommerce input[type='checkbox']:checked:focus{
      background-color:var(--dc-gold)
    }

.digicommerce input[type='checkbox']:checked {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
    }

.digicommerce input[type='radio']{
    margin:0px
  }

.digicommerce input[type='radio']{
    display:none
  }

.digicommerce input[type='radio']{
    height:1.5rem
  }

.digicommerce input[type='radio']{
    width:1.5rem
  }

.digicommerce input[type='radio']{
    border-width:1px
  }

.digicommerce input[type='radio']{
    border-style:solid
  }

.digicommerce input[type='radio']{
    border-color:var(--dc-border)
  }

.digicommerce input[type='radio']{
    --tw-bg-opacity:1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity, 1))
  }

.digicommerce input[type='radio']{
    --tw-shadow:0 0 #0000;
    --tw-shadow-colored:0 0 #0000;
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
  }

.digicommerce input[type='radio']:checked {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white"><circle cx="8" cy="8" r="3" /></svg>');
    }

.digicommerce input[type='radio']:checked{
      border-color:var(--dc-dark-blue)
    }

.digicommerce input[type='radio']:checked{
      background-color:var(--dc-dark-blue)
    }

.digicommerce input[type='radio']::before{
      display:none
    }

.digicommerce input[type='radio']:focus {
      box-shadow: none;
    }

.digicommerce select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20" fill="currentColor"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" /></svg>');
    background-position: right 0.7rem top 50%;
    background-size: 1rem 1rem;
  }

.digicommerce select{
    min-width:10rem
  }

.digicommerce select{
    cursor:pointer
  }

.digicommerce select{
    background-repeat:no-repeat
  }

.digicommerce select{
    padding-top:0px;
    padding-bottom:0px
  }

.digicommerce select{
    padding-left:0.5rem
  }

.digicommerce select{
    padding-right:2rem
  }

.digicommerce select {
    -webkit-appearance: none;
  }

/* Reset pass */

.custom-login.reset-pass .field input{
    padding-right:3rem
  }

.custom-login.reset-pass .hide__btn{
    position:absolute
  }

.custom-login.reset-pass .hide__btn{
    right:0px
  }

.custom-login.reset-pass .hide__btn{
    top:0px
  }

.custom-login.reset-pass .hide__btn{
    display:flex
  }

.custom-login.reset-pass .hide__btn{
    width:3rem
  }

.custom-login.reset-pass .hide__btn{
    align-items:center
  }

/* Password strength */

.password-strength{
  margin-left:0px;
  margin-right:0px;
  margin-bottom:1.25rem;
  margin-top:1rem;
}

.password-strength.weak .password-strength-meter-bar{
      width:20%
    }

.password-strength.weak .password-strength-meter-bar{
      --tw-bg-opacity:1;
      background-color:rgb(239 68 68 / var(--tw-bg-opacity, 1))
    }

.password-strength.weak .password-strength-text{
      --tw-text-opacity:1;
      color:rgb(239 68 68 / var(--tw-text-opacity, 1))
    }

.password-strength.medium .password-strength-meter-bar{
      width:50%
    }

.password-strength.medium .password-strength-meter-bar{
      --tw-bg-opacity:1;
      background-color:rgb(245 158 11 / var(--tw-bg-opacity, 1))
    }

.password-strength.medium .password-strength-text{
      --tw-text-opacity:1;
      color:rgb(245 158 11 / var(--tw-text-opacity, 1))
    }

.password-strength.strong .password-strength-meter-bar{
      width:100%
    }

.password-strength.strong .password-strength-meter-bar{
      --tw-bg-opacity:1;
      background-color:rgb(16 185 129 / var(--tw-bg-opacity, 1))
    }

.password-strength.strong .password-strength-text{
      --tw-text-opacity:1;
      color:rgb(16 185 129 / var(--tw-text-opacity, 1))
    }

.password-strength-text{
    font-size:0.8rem
  }

/* Progress bar */

.password-strength-meter{
  position:relative;
  margin-bottom:0.5rem;
  height:0.25rem;
  width:100%;
  border-radius:0.125rem;
  --tw-bg-opacity:1;
  background-color:rgb(226 232 240 / var(--tw-bg-opacity, 1));
}

.password-strength-meter-bar{
    height:100%
  }

.password-strength-meter-bar{
    width:0px
  }

.password-strength-meter-bar{
    border-radius:0.125rem
  }

.password-strength-meter-bar{
    transition-property:all;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration:150ms
  }

.password-strength-meter-bar{
    transition-duration:0.3s
  }

.password-strength-meter-bar{
    transition-timing-function:ease
  }

/* Login form during checkout */

#digicommerce-login-checkout.digi__form .field input{
      min-height:50px
    }

#digicommerce-login-checkout.digi__form .field input{
      padding-top:0.25rem;
      padding-bottom:0.25rem
    }

#digicommerce-login-checkout.digi__form .field input{
      font-size:0.8rem
    }

#digicommerce-login-checkout.digi__form .field input:focus,
            #digicommerce-login-checkout.digi__form .field input.focused{
        padding-bottom:0.25rem
      }

#digicommerce-login-checkout.digi__form .field input:focus,
            #digicommerce-login-checkout.digi__form .field input.focused{
        padding-top:1.2rem
      }

#digicommerce-login-checkout.digi__form .field input:focus + label,
            #digicommerce-login-checkout.digi__form .field input.focused + label{
        font-size:.7rem
      }

#digicommerce-login-checkout.digi__form .field label{
      font-size:0.8rem
    }

#digicommerce-login-checkout.digi__form button.digi__button{
      min-height:50px
    }

#digicommerce-login-checkout.digi__form button.digi__button{
      width:auto
    }

#digicommerce-login-checkout.digi__form button.digi__button{
      padding-left:1rem;
      padding-right:1rem
    }

#digicommerce-login-checkout.digi__form button.digi__button{
      padding-top:0px;
      padding-bottom:0px
    }

#digicommerce-login-checkout.digi__form button.digi__button{
      font-size:0.8rem
    }

#digicommerce-login-checkout.digi__form .message{
    margin-bottom:0px
  }

#digicommerce-login-checkout.digi__form .message{
    margin-top:1rem
  }

#digicommerce-login-checkout.digi__form .message{
    border-radius:0.125rem
  }

#digicommerce-login-checkout.digi__form .message{
    padding:0.25rem
  }

/* Choices select */

.choices{
  margin:0px;
}

.choices__inner{
    min-height:0px
  }

.choices__inner{
    width:100%
  }

.choices__inner{
    border-radius:0.375rem
  }

.choices__inner{
    border-color:var(--dc-border)
  }

.choices__inner{
    --tw-bg-opacity:1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity, 1))
  }

.choices__inner{
    padding-left:0.75rem;
    padding-right:0.75rem
  }

.choices__inner{
    padding-top:0.25rem;
    padding-bottom:0.25rem
  }

.choices__inner{
    color:var(--dc-dark-blue)
  }

.choices__inner{
    --tw-shadow:0 0 #0000;
    --tw-shadow-colored:0 0 #0000;
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
  }

.choices__inner{
    outline:2px solid transparent;
    outline-offset:2px
  }

.choices__inner:hover{
    border-color:var(--dc-gold)
  }

.choices__inner:focus{
    border-color:var(--dc-gold)
  }

.choices__inner {
    transition: all 300ms ease-in-out;
  }

.choices__inner::-moz-placeholder{
      color:var(--dc-dark-blue)
    }

.choices__inner::placeholder{
      color:var(--dc-dark-blue)
    }

.choices__inner:focus {
      box-shadow: none;
    }

.choices__placeholder{
    margin:0px
  }

.choices__placeholder{
    font-size:1rem
  }

.choices__placeholder{
    font-weight:700
  }

.choices__placeholder{
    opacity:1
  }

.choices__item--selectable{
    font-size:1rem
  }

.choices.is-open .choices__inner{
    border-top-left-radius:0.375rem;
    border-top-right-radius:0.375rem
  }

.choices[data-type*='select-one'] .choices__inner{
      padding-bottom:0.25rem
    }

.choices[data-type*='select-one']::after{
      right:7px
    }

.choices[data-type*='select-one']::after{
      margin:0px
    }

.choices[data-type*='select-one']::after{
      height:.7rem
    }

.choices[data-type*='select-one']::after{
      width:.7rem
    }

.choices[data-type*='select-one']::after{
      --tw-translate-y:-50%;
      transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

.choices[data-type*='select-one']::after{
      border-width:0px
    }

.choices[data-type*='select-one']::after{
      background-size:contain
    }

.choices[data-type*='select-one']::after{
      background-position:center
    }

.choices[data-type*='select-one']::after{
      background-repeat:no-repeat
    }

.choices[data-type*='select-one']::after{
      --tw-content:"";
      content:var(--tw-content)
    }

.choices[data-type*='select-one']::after {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 429.3l22.6-22.6 192-192L493.3 192 448 146.7l-22.6 22.6L256 338.7 86.6 169.4 64 146.7 18.7 192l22.6 22.6 192 192L256 429.3z"/></svg>');
    }

.choices[data-type*='select-one'] .choices__input{
      min-height:3rem
    }

.choices[data-type*='select-one'] .choices__input{
      border-radius:0px
    }

.choices[data-type*='select-one'] .choices__input{
      border-left-width:0px;
      border-right-width:0px
    }

.choices[data-type*='select-one'] .choices__input{
      border-top-width:0px
    }

.choices[data-type*='select-one'] .choices__input{
      --tw-border-opacity:1;
      border-color:rgb(221 221 221 / var(--tw-border-opacity, 1))
    }

.choices[data-type*='select-one'] .choices__input{
      padding-left:0.75rem;
      padding-right:0.75rem
    }

.choices[data-type*='select-one'] .choices__input{
      padding-top:0.25rem;
      padding-bottom:0.25rem
    }

.choices[data-type*='select-one'] .choices__input{
      --tw-shadow:0 0 #0000;
      --tw-shadow-colored:0 0 #0000;
      box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }

.choices[data-type*='select-one'] .choices__input {
      outline: none;
    }

.choices[data-type*='select-one'] .choices__input:focus{
        --tw-border-opacity:1;
        border-color:rgb(221 221 221 / var(--tw-border-opacity, 1))
      }

.choices[data-type*='select-one'] .choices__input:focus{
        padding-left:0.75rem;
        padding-right:0.75rem
      }

.choices[data-type*='select-one'] .choices__input:focus{
        padding-top:0.25rem;
        padding-bottom:0.25rem
      }

.choices[data-type*='select-one'] .choices__input:focus {
        box-shadow: none;
        outline: none;
      }

.choices[data-type*='select-one'].is-open::after{
      margin-top:0px
    }

.choices__list--single{
    padding-left:0px;
    padding-right:0px
  }

.choices__list--single{
    padding-top:.8125rem;
    padding-bottom:.8125rem
  }

/* Single product */

.button-disabled{
  pointer-events:none;
  cursor:not-allowed;
  opacity:0.5
}

.digicommerce-single-product .product-summary input[type='radio']{
    position:absolute
  }

.digicommerce-single-product .product-summary input[type='radio']{
    margin:-1px
  }

.digicommerce-single-product .product-summary input[type='radio']{
    height:1px
  }

.digicommerce-single-product .product-summary input[type='radio']{
    width:1px
  }

.digicommerce-single-product .product-summary input[type='radio']{
    overflow:hidden
  }

.digicommerce-single-product .product-summary input[type='radio']{
    white-space:nowrap
  }

.digicommerce-single-product .product-summary input[type='radio']{
    border-width:0px
  }

.digicommerce-single-product .product-summary input[type='radio']{
    padding:0px
  }

.digicommerce-single-product .product-summary input[type='radio'] {
    clip: rect(0, 0, 0, 0);
  }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      margin:0px
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      display:flex
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      flex-direction:column
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      align-items:center
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      justify-content:center
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      gap:0.5rem
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      border-radius:0.25rem
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      background-color:var(--dc-light-blue-bg)
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      padding:1rem
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      text-align:center
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      font-size:.85rem
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      font-weight:400
    }

.digicommerce-single-product .product-summary input[type='radio'] + label{
      color:var(--dc-dark-blue)
    }

.digicommerce-single-product .product-summary input[type='radio'] + label:hover{
      background-color:var(--dc-dark-blue)
    }

.digicommerce-single-product .product-summary input[type='radio'] + label:hover{
      --tw-text-opacity:1;
      color:rgb(255 255 255 / var(--tw-text-opacity, 1))
    }

.digicommerce-single-product .product-summary input[type='radio'] + label {
      transition: all 300ms ease-in-out;
    }

.digicommerce-single-product .product-summary input[type='radio'] + label::before,
            .digicommerce-single-product .product-summary input[type='radio'] + label::after{
        display:none
      }

.digicommerce-single-product .product-summary input[type='radio'] + label .variation-regular-price{
        color:rgb(0 0 0 / 0.5)
      }

.digicommerce-single-product .product-summary input[type='radio'] + label .variation-regular-price {
        transition: all 300ms ease-in-out;
      }

.digicommerce-single-product .product-summary input[type='radio']:hover + label,
        .digicommerce-single-product .product-summary input[type='radio']:checked + label{
      background-color:var(--dc-dark-blue)
    }

.digicommerce-single-product .product-summary input[type='radio']:hover + label,
        .digicommerce-single-product .product-summary input[type='radio']:checked + label{
      --tw-text-opacity:1;
      color:rgb(255 255 255 / var(--tw-text-opacity, 1))
    }

.digicommerce-single-product .product-summary input[type='radio']:hover + label .variation-regular-price,.digicommerce-single-product .product-summary input[type='radio']:checked + label .variation-regular-price{
        color:rgb(255 255 255 / 0.5)
      }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon{
    position:relative
  }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      position:absolute
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      left:50%
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      top:50%
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      height:0.75rem
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      width:0.75rem
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      --tw-translate-x:-50%;
      transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      --tw-translate-y:-50%;
      transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      border-radius:100%
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      transition-property:all;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration:150ms
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      transition-duration:300ms
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      transition-timing-function:ease-in-out
    }

.digicommerce-radio input[type='radio'] + .payment_method_name .radio-icon::before{
      --tw-content:'';
      content:var(--tw-content)
    }

.digicommerce-radio input[type='radio']:checked + .payment_method_name .radio-icon{
    border-color:var(--dc-gold)
  }

.digicommerce-radio input[type='radio']:checked + .payment_method_name .radio-icon::before{
      background-color:var(--dc-gold)
    }

@media (max-width: 600px) {
  .digicommerce-radio .payment_method_name svg{
    height:3rem;
    width:3rem
  }
}

@media (max-width: 480px) {
  .digicommerce-radio .payment_method_name svg{
    display:none
  }
}

/* Base table styles */

.digicommerce-table{
  margin:0px;
  width:100%;
  border-collapse:collapse;
  border-width:0px;
  --tw-bg-opacity:1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.digicommerce-table .end{
    text-align:right
  }

.digicommerce-table th,
	.digicommerce-table td{
    border-width:0px
  }

.digicommerce-table th,
	.digicommerce-table td{
    padding:1rem
  }

.digicommerce-table th,
	.digicommerce-table td{
    text-align:left
  }

.digicommerce-table th,
	.digicommerce-table td{
    line-height:1.5
  }

.digicommerce-table th{
    font-weight:700
  }

.digicommerce-table th{
    color:var(--dc-dark-blue)
  }

.digicommerce-table thead th{
    border-bottom-width:1px
  }

.digicommerce-table thead th{
    border-style:solid
  }

.digicommerce-table thead th{
    --tw-border-opacity:1;
    border-bottom-color:rgb(225 225 225 / var(--tw-border-opacity, 1))
  }

.digicommerce-table tbody{
    font-size:0.8rem
  }

.digicommerce-table tbody tr:nth-child(odd){
      --tw-bg-opacity:1;
      background-color:rgb(247 247 249 / var(--tw-bg-opacity, 1))
    }

.digicommerce-table tfoot{
    font-size:0.8rem
  }

.digicommerce-table tfoot th{
      color:var(--dc-dark-blue)
    }

.digicommerce-table tfoot td,
		.digicommerce-table tfoot th{
      border-top-width:1px
    }

.digicommerce-table tfoot td,
		.digicommerce-table tfoot th{
      border-style:solid
    }

.digicommerce-table tfoot td,
		.digicommerce-table tfoot th{
      --tw-border-opacity:1;
      border-top-color:rgb(225 225 225 / var(--tw-border-opacity, 1))
    }

.digicommerce-table tfoot .order-total{
      font-size:1rem
    }

.digicommerce-table .amount{
    font-size:1.1rem
  }

.digicommerce-table .amount{
    font-weight:700
  }

.digicommerce-table .amount{
    --tw-text-opacity:1;
    color:rgb(22 163 74 / var(--tw-text-opacity, 1))
  }

/* Responsive styles */

@media only screen and (max-width: 768px) {
    .digicommerce-table tbody,
		.digicommerce-table tr,
		.digicommerce-table td{
      display:block
    }
    .digicommerce-table tbody,
		.digicommerce-table tr,
		.digicommerce-table td{
      width:100%
    }
    .digicommerce-table th,
		.digicommerce-table thead{
      display:none
    }
    .digicommerce-table td{
      position:relative
    }
    .digicommerce-table td{
      display:flex
    }
    .digicommerce-table td{
      justify-content:space-between
    }
    .digicommerce-table td{
      text-align:right
    }
    .digicommerce-table td::before{
      content:var(--tw-content);
      float:left
    }
    .digicommerce-table td::before{
      content:var(--tw-content);
      font-size:1rem
    }
    .digicommerce-table td::before{
      content:var(--tw-content);
      font-weight:600
    }
    .digicommerce-table td::before{
      content:var(--tw-content);
      color:var(--dc-dark-blue)
    }
    .digicommerce-table td::before{
      --tw-content:attr(data-label);
      content:var(--tw-content)
    }
    .digicommerce-table td[rowspan]{
      display:none
    }
}

/* Order total row */

.digicommerce-table tr.order-total{
  --tw-bg-opacity:1;
  background-color:rgb(247 247 249 / var(--tw-bg-opacity, 1));
}

.digicommerce-table tr.order-total th,
	.digicommerce-table tr.order-total td{
    font-weight:700
  }

:root {
  --dc-gold: #ccb161;
  --dc-yellow: #ffe599;
  --dc-border: #caced9;
  --dc-light-blue: #e1e4ed;
  --dc-light-blue-bg: #f6f7f9;
  --dc-dark-blue: #09053a;
  --dc-dark-blue-10: #e6e5eb;
  --dc-dark-blue-20: #bab8c8;
  --dc-hover-blue: #362f85;
  --dc-grey: #646071;
  --dc-dark-grey: #5b5766;
}

.digicommerce{
  font-size:1rem;
}

.digicommerce button{
    cursor:pointer
  }

.digicommerce button {
    transition: all 300ms ease-in-out;
  }

.digicommerce a {
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
  }

body .no-margin{
  margin:0px
}

.no-background{
  background-color:transparent;
  padding:0px;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.no-background:hover{
  background-color:transparent
}

.no-background:focus{
  background-color:transparent
}

.default-transition {
  transition: all 300ms ease-in-out;
}

.price-wrapper{
  display:flex;
  align-items:flex-start;
  line-height:1;
}

.price-wrapper .price-symbol{
    font-size:.75em
  }

.price-wrapper.single-price{
    white-space:nowrap
  }

.price-wrapper.single-price{
    font-weight:700
  }

.price-wrapper.single-price{
    --tw-text-opacity:1;
    color:rgb(22 163 74 / var(--tw-text-opacity, 1))
  }

.end .price-wrapper{
  justify-content:flex-end
}

.product-share a:hover svg{
  fill:#fff
}

/* Solve conflict if other theme or plugin use Tailwind */

.cart-item .cart-item-name{
    flex-direction:column
  }

.cart-item .cart-item-name{
    align-items:flex-start
  }

@media (min-width: 768px){
    .cart-item .cart-item-name{
      flex-direction:row
    }
  }

@media (min-width: 768px){
    .cart-item .cart-item-name{
      align-items:center
    }
  }

.cart-item .cart-item-name.has-variation-name{
      align-items:flex-start
    }

.cart-item .cart-item-info{
    align-items:flex-start
  }

@media (min-width: 768px){
    .cart-item .cart-item-info{
      align-items:flex-end
    }
  }

input[type='radio']:checked + .payment_method_name{
  background-color:var(--dc-light-blue-bg)
}

/* Hide floating reCAPTCHA */

.digi-captcha .grecaptcha-badge{
  display:none
}

.first\:pt-0:first-child{
  padding-top:0px
}

.last\:pb-0:last-child{
  padding-bottom:0px
}

.hover\:border-dark-blue:hover{
  border-color:var(--dc-dark-blue)
}

.hover\:bg-dark-blue:hover{
  background-color:var(--dc-dark-blue)
}

.hover\:bg-gold:hover{
  background-color:var(--dc-gold)
}

.hover\:bg-gray-50:hover{
  --tw-bg-opacity:1;
  background-color:rgb(249 250 251 / var(--tw-bg-opacity, 1))
}

.hover\:bg-hover-blue:hover{
  background-color:var(--dc-hover-blue)
}

.hover\:bg-light-blue-bg:hover{
  background-color:var(--dc-light-blue-bg)
}

.hover\:bg-red-400:hover{
  --tw-bg-opacity:1;
  background-color:rgb(248 113 113 / var(--tw-bg-opacity, 1))
}

.hover\:bg-red-50:hover{
  --tw-bg-opacity:1;
  background-color:rgb(254 242 242 / var(--tw-bg-opacity, 1))
}

.hover\:text-blue-600:hover{
  --tw-text-opacity:1;
  color:rgb(37 99 235 / var(--tw-text-opacity, 1))
}

.hover\:text-dark-blue:hover{
  color:var(--dc-dark-blue)
}

.hover\:text-gold:hover{
  color:var(--dc-gold)
}

.hover\:text-gray-500:hover{
  --tw-text-opacity:1;
  color:rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.hover\:text-hover-blue:hover{
  color:var(--dc-hover-blue)
}

.hover\:text-red-400:hover{
  --tw-text-opacity:1;
  color:rgb(248 113 113 / var(--tw-text-opacity, 1))
}

.hover\:text-red-600:hover{
  --tw-text-opacity:1;
  color:rgb(220 38 38 / var(--tw-text-opacity, 1))
}

.hover\:text-white:hover{
  --tw-text-opacity:1;
  color:rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.hover\:underline:hover{
  text-decoration-line:underline
}

.hover\:shadow-lg:hover{
  --tw-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:border-dark-blue:focus{
  border-color:var(--dc-dark-blue)
}

.focus\:outline-none:focus{
  outline:2px solid transparent;
  outline-offset:2px
}

.focus\:ring-2:focus{
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ring-blue-500:focus{
  --tw-ring-opacity:1;
  --tw-ring-color:rgb(59 130 246 / var(--tw-ring-opacity, 1))
}

.focus\:ring-dark-blue:focus{
  --tw-ring-color:var(--dc-dark-blue)
}

.focus\:ring-offset-2:focus{
  --tw-ring-offset-width:2px
}

.group:hover .group-hover\:scale-105{
  --tw-scale-x:1.05;
  --tw-scale-y:1.05;
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:text-gold{
  color:var(--dc-gold)
}

@media (min-width: 380px){
  .esm\:flex-row{
    flex-direction:row
  }
}

@media (min-width: 640px){
  .sm\:mt-16{
    margin-top:4rem
  }

  .sm\:grid-cols-2{
    grid-template-columns:repeat(2, minmax(0, 1fr))
  }

  .sm\:flex-row{
    flex-direction:row
  }

  .sm\:items-center{
    align-items:center
  }

  .sm\:rounded-lg{
    border-radius:0.5rem
  }

  .sm\:p-6{
    padding:1.5rem
  }

  .sm\:px-0{
    padding-left:0px;
    padding-right:0px
  }

  .sm\:px-2{
    padding-left:0.5rem;
    padding-right:0.5rem
  }

  .sm\:px-6{
    padding-left:1.5rem;
    padding-right:1.5rem
  }

  .sm\:text-4xl{
    font-size:2.4rem
  }

  .sm\:text-sm{
    font-size:0.8rem
  }
}

@media (min-width: 768px){
  .md\:grid-cols-2{
    grid-template-columns:repeat(2, minmax(0, 1fr))
  }

  .md\:grid-cols-3{
    grid-template-columns:repeat(3, minmax(0, 1fr))
  }

  .md\:flex-row{
    flex-direction:row
  }

  .md\:items-end{
    align-items:flex-end
  }
}

@media (min-width: 980px){
  .mdl\:flex-row{
    flex-direction:row
  }

  .mdl\:items-center{
    align-items:center
  }

  .mdl\:py-28{
    padding-top:7rem;
    padding-bottom:7rem
  }
}

@media (min-width: 1024px){
  .lg\:col-span-1{
    grid-column:span 1 / span 1
  }

  .lg\:col-span-2{
    grid-column:span 2 / span 2
  }

  .lg\:col-span-3{
    grid-column:span 3 / span 3
  }

  .lg\:col-span-5{
    grid-column:span 5 / span 5
  }

  .lg\:col-span-7{
    grid-column:span 7 / span 7
  }

  .lg\:col-span-9{
    grid-column:span 9 / span 9
  }

  .lg\:mt-0{
    margin-top:0px
  }

  .lg\:grid{
    display:grid
  }

  .lg\:grid-cols-12{
    grid-template-columns:repeat(12, minmax(0, 1fr))
  }

  .lg\:grid-cols-2{
    grid-template-columns:repeat(2, minmax(0, 1fr))
  }

  .lg\:grid-cols-3{
    grid-template-columns:repeat(3, minmax(0, 1fr))
  }

  .lg\:grid-cols-4{
    grid-template-columns:repeat(4, minmax(0, 1fr))
  }

  .lg\:items-start{
    align-items:flex-start
  }

  .lg\:gap-x-12{
    -moz-column-gap:3rem;
         column-gap:3rem
  }

  .lg\:gap-x-5{
    -moz-column-gap:1.25rem;
         column-gap:1.25rem
  }

  .lg\:gap-x-8{
    -moz-column-gap:2rem;
         column-gap:2rem
  }

  .lg\:px-0{
    padding-left:0px;
    padding-right:0px
  }

  .lg\:px-8{
    padding-left:2rem;
    padding-right:2rem
  }

  .lg\:py-0{
    padding-top:0px;
    padding-bottom:0px
  }

  .lg\:pt-0{
    padding-top:0px
  }
}
