:root {
    --dc-gold: #ccb161;
    --dc-yellow: #ffe599;
    --dc-border: #caced9;
    --dc-light-blue: #e1e4ed;
    --dc-light-blue-bg: #f6f7f9;
    --dc-dark-blue: #09053a;
    --dc-hover-blue: #362f85;
    --dc-grey: #646071;
    --dc-dark-grey: #5b5766;
}

/* Form Token Field Styles */
.components-form-token-field {
    border: 1px solid #e2e4e7;
    border-radius: 0.2rem;
    padding: 0.5rem;
    transition: all 0.2s;
}

.components-form-token-field .components-form-token-field__help {
    margin: 0;
}

.components-form-token-field:focus-within {
    border-color: var(--wp-admin-theme-color);
    box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
}

.components-form-token-field__input-container {
    margin: 0;
    padding: 0;
}

.components-form-token-field__token {
    display: flex;
    align-items: center;
    background: var(--wp-admin-theme-color);
    color: white;
    border-radius: 12px;
    padding: 2px 8px;
    margin: 2px;
}

.components-form-token-field__token-text {
    background-color: transparent;
    line-height: 1.4;
}

.components-form-token-field__remove-token.components-button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.components-form-token-field__remove-token.components-button:hover {
    color: white;
}

.components-form-token-field__suggestions-list {
    border: 1px solid #e2e4e7;
    border-radius: 4px;
    margin-top: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.components-form-token-field__suggestion {
    padding: 8px 12px;
    cursor: pointer;
}

.components-form-token-field__suggestion:hover {
    background: var(--wp-admin-theme-color);
    color: white;
}

/* Base Control Spacing */
.components-base-control__label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.digicommerce-archive .pagination span.page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    line-height: 1;
    background: var(--dc-light-blue-bg);
    color: var(--dc-dark-blue);
    border: 1px solid var(--dc-light-blue);
    border-radius: 50%;
    transition: all 0.3s;
}

.digicommerce-archive .pagination span.page-numbers:hover {
    background: var(--dc-dark-blue);
    color: white;
    border-color: var(--dc-dark-blue);
}
