@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.digicommerce-review-notice {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.2rem;
    background-color: #fff;
    border-radius: 0.25rem;
    border-left-color: #ccb161;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-out;

    .digicommerce-review-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    p.digicommerce-review-text {
        color: #09053a;
        font-size: 1rem;
        margin: 0;

        a {
            color: #09053a;
            text-decoration: none;
            outline: none;
            box-shadow: none;
        }
    }

    .digicommerce-review-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.75rem;
        margin: 0;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.4;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            box-shadow: none;
            margin: 0;
            cursor: pointer;
            transition: all 0.3s;

            &.digicommerce-leave-review {
                background-color: #ccb161;
                color: #fff;

                &:hover {
                    background-color: #978039;
                    color: #fff;
                }
            }

            &.digicommerce-dismiss-review-notice {
                background-color: #fbbf24;
                color: #09053a;

                &:hover {
                    background-color: #eab308;
                    color: #09053a;
                }
            }

            &.digicommerce-later-review {
                background-color: #09053a;
                color: #fff;

                &:hover {
                    background-color: #6c698a;
                    color: #fff;
                }
            }
        }
    }
}

body.rtl .digicommerce-review-notice {
    border-left-color: #c3c4c7;
    border-right-color: #ccb161;
}

/* Responsive */
@media (max-width: 768px) {
    .digicommerce-review-notice {
        svg {
            display: none;
        }
    }
}
