a.dc-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    background-color: #ccb161;
    color: #09053a;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none !important;
    border-radius: 3rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

a.dc-button:hover {
    background-color: #09053a;
    color: #ccb161;
}

a.dc-button del {
    font-size: 0.85em;
    opacity: 0.5;
}

a.dc-button .dc-button-subtitle {
    opacity: 0.5;
    font-weight: 400;
}

.dc-button-wrapper {
    display: flex;
}

.dc-button-wrapper:has(.dc-button.alignfull) .dc-button.alignfull {
    width: 100%;
}

.dc-button-wrapper:has(.dc-button.alignright) {
    justify-content: flex-end;
}

.dc-button-wrapper:has(.dc-button.aligncenter) {
    justify-content: center;
}

.dc-button-wrapper:has(.dc-button.alignleft) {
    justify-content: flex-start;
}
